---
import SideNavigatorButton from "./SideNavigatorButton.astro";
---

<nav>
  <SideNavigatorButton href="/" text="Home" iconName="home" />
  <SideNavigatorButton
    href="/profile/LovelyTardis"
    text="Profile"
    iconName="account_circle"
  />
  <!-- <SideNavigatorButton href="/" text="IDK algo más" /> -->
</nav>
