---
import SideNavigatorButton from "./SideNavigatorButton.astro";
---

<nav>
  <li>
    <SideNavigatorButton href="/" text="Home" />
  </li>
  <li>
    <SideNavigatorButton href="/profile/LovelyTardis" text="Profile" />
  </li>
  <li>
    <SideNavigatorButton href="/" text="IDK algo más" />
  </li>
</nav>

<style>
  li {
    list-style: none;
  }
</style>
