---
export interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<custom-button data-href={href}>
  <button>
    <p>
      {text}
    </p>
  </button>
</custom-button>

<style>
  button {
    width: 100%;
    margin: 10px 0 10px 0;
  }
</style>

<script>
  class CustomButton extends HTMLElement {
    constructor() {
      super();

      const href = this.dataset.href;
      const button = this.querySelectorAll("button");

      button[0].addEventListener("click", () => {
        window.location = href;
      });
    }
  }

  customElements.define("custom-button", CustomButton);
</script>
