.profile-header {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px 0;
}
.profile-header-img-biography {
  display: flex;
}
.profile-header-img {
  margin: 0 30px 10px 0;
}
/* .profile-header-biography {
}
.profile-header-user-info {
} */

.profile-username {
  margin: 0;
}