header.profile {
  display: flex;
}

.profile-header {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px 0;
}

.profile-header-img-biography {
  display: flex;
  flex-direction: column;
}

.profile-header-img {
  margin: 0 30px 10px 0;
}

.profile-header-biography {
  flex: 1;
  color: white;
  height: fit-content;
}

.profile-header-biography > a, p {
  display: inline-block;
  text-decoration: none;
  margin: 10px 20px;
}

.profile-username, .profile-header-biography > h4 {
  margin: 0;
}

.edit-profile-button {
  transition: background-color 0.3s ease;
  border: 3px solid var(--main-color);
  border-radius: var(--button-br);
  width: 130px;
  height: 40px;
  margin: 20px 0 50px 0;
  background-color: black;
  color: white;
  cursor: pointer;
}

.edit-profile-button:hover {
  transition: background-color 0.1s ease;
  background-color: var(--main-color);
}