---
import type { UltType, UserType } from "../../types";
import UltCard from "./UltCard.astro";
import { ultsSort } from "../../helpers";

export interface Props {
  data: UserType;
}

const { data } = Astro.props;
const { ults } = data;

ultsSort(ults);
---

<div class="ult-container">
  {
    ults.map((ult: UltType) => {
      return <UltCard ult={ult} />;
    })
  }
</div>

<style>
  .ult-container {
    margin: auto;
  }
</style>
