---
import Layout from "../layouts/Layout.astro";
import UltContainer from "../components/ult/UltContainer.astro";
import ErrorDisplay from "../components/ErrorDisplay.astro";
import tryConnection from "../helpers/tryConnection";
import apiCall from "../helpers/apiCall";

const connected = await tryConnection();
const { error, code, data } =
  connected !== true ? connected : await apiCall("/user/LovelyTardis");
---

<Layout title="Ult - index">
  <h1>HOME PAGE</h1>
  {
    !error ? (
      <UltContainer data={data} />
    ) : (
      <ErrorDisplay message={data} code={code} />
    )
  }
</Layout>
