---
import Layout from "../layouts/Layout.astro";
import UltContainer from "../components/ult/UltContainer.astro";

// TODO: load random ults
const userData = await fetch(`http://localhost:8000/user/LovelyTardis`);
const { data, error, code } = await userData.json();
---

<Layout title="Ult - index">
  <h1>HOME PAGE</h1>
  <UltContainer data={data} />
</Layout>
