---
export interface Props {
  message: string;
  code: number;
}

const { message, code } = Astro.props;
---

<div class="error-display">
  <h1>{message}</h1>
  <h3>Error code: {code}</h3>
</div>

<style>
  .error-display {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
  }
  h1,
  h3 {
    color: red;
    text-align: center;
  }
</style>
