---
---

<nav>
  <li><a href="/">Home</a></li>
  <li><a href="/profile/LovelyTardis">Profile</a></li>
  <li><a href="/">Algo más idk</a></li>
</nav>

<style>
  li {
    list-style: none;
  }
</style>
