.sidebar-button {
  transition: background-color 0.3s ease;
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: var(--button-br);
  padding: 15px;
  display: inline-flex;
  align-items: center;
}

.sidebar-button:hover {
  transition: background-color 0.1s ease;
  background-color: var(--main-color);
}

.sidebar-my-profile {
  width: fit-content;
}

.sidebar-logout {
  width: auto;
}