.card-header {
  display: flex;
  height: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 20px;
}

.card-header-img {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.card-header-img:hover {
  transition: opacity 0.3s ease;
  opacity: var(--opacity-hover);
  cursor: pointer;
}

.p-username {
  transition: opacity 0.3s ease;
  opacity: 1;
  font-weight: bold;
}

.p-username:hover {
  transition: opacity 0.3s ease;
  opacity: var(--opacity-hover);
  cursor: pointer;
}

.p-name {
  margin: 0;
}