:root {
  --padding-cf: 10px 20px;
}

.card-footer {
  display: flex;
  height: 50px;
}

.left {
  margin-left: 5%;
  font-size: inherit;
  padding: var(--padding-cf);
}

.right {
  margin: 0 5% 0 auto;
  font-size: inherit;
  padding: var(--padding-cf);
}

.like-button {
  transition: opacity 0.3s ease;
  opacity: 1;
  background-color: transparent;
  display: flex;
  font-size: inherit;
  border: transparent;
  cursor: pointer;
  padding: 0 20px;
  font-size: normal;
}

.like-button:hover {
  transition: opacity 0.3s ease;
  opacity: var(--opacity-hover);
}

.like-button > .material-icons {
  font-size: inherit;
  margin: 0 5px;
}

.liked {
  color: red;
}