---
import type { UltType } from "../../../types";

export interface Props {
  ult: UltType;
}

const { likes, datetime } = Astro.props.ult;
---

<div>
  <p class="likes">{likes} &#10084;</p>
  <p class="likes">{likes} comments</p>
  <p class="datetime">
    {new Date(datetime).toLocaleTimeString()} - {
      new Date(datetime).toLocaleDateString()
    }
  </p>
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
  }
  .likes {
    padding-right: 2rem;
  }
  .datetime {
    margin-left: auto;
  }
</style>
