:root {
  --padding-cf: 10px 20px;
}

.card-footer {
  display: flex;
  height: 50px;
}

.left {
  margin-left: 5%;
  padding: var(--padding-cf);
}

.right {
  margin: 0 5% 0 auto;
  padding: var(--padding-cf);
}

.like-button {
  transition: border 0.3s ease;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0 20px;
}

.liked {
  color: red;
}