---
import SideNavigator from "../components/side-navigator/SideNavigator.astro";

export interface Props {
  title: string;
  mainHeader?: string;
}
const { title, mainHeader } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="separator-block">
      <div class="main">
        {mainHeader && <h2>{mainHeader}</h2>}
        <slot />
      </div>
      <div class="nav">
        <SideNavigator />
      </div>
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  body {
    width: 70%;
    margin: 10px auto;
  }
  .separator-block {
    display: flex;
    padding: 20px;
  }
  .main {
    width: 75%;
  }
  .nav {
    width: 25%;
    border: 1px solid green;
    border-radius: 10px;
    margin: 20px;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  img.card-header-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  img.profile-header-img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  div.ult-container {
    margin: auto;
  }
</style>
